<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xs.multibleapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MultiBleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainViewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HtsActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".ui.Hts2Activity"
            android:screenOrientation="portrait"/>
        <service android:name=".ble.service.ScanService"/>
        <service android:name="com.diy.blelib.ble.hts.HtsService"/>
        <service android:name="com.diy.blelib.ble.hts2.HtsService2"/>
        <service android:name="com.diy.blelib.ble.ropeskip.RopeSkipService"/>
        <service android:name="com.diy.blelib.ble.sport.SportService"/>
    </application>

</manifest>